@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.bgimage {
  background-image: url("./assets/BGImage.png");
  background-position: center;
  background-size: contain;
}

.shadow-outline {
  box-shadow: 0 -15px 30px -15px rgba(228, 194, 42, 0.4), /* Top shadow */
              0 15px 30px -15px rgba(228, 194, 42, 0.4),  /* Bottom shadow */
              -15px 0 30px -15px rgba(228, 194, 42, 0.4), /* Left shadow */
              15px 0 30px -15px rgba(228, 194, 42, 0.4);  /* Right shadow */
}

/* Global CSS or a CSS file for your app */

/* Default styles for smaller screens */
.app-bg {
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;
  padding: 0rem;
}

/* Styles for larger screens */
@media (min-width: 1024px) {
  .app-bg {
    display: flex;
    flex-direction: row;
  }
  
  .sidebar {
    width: 25%;
  }

  .main-content {
    width: 75%;
    padding-left: 0rem;
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(253, 224, 71, 0.7);
  }
  70% {
    box-shadow: 0 0 0 10px rgba(253, 224, 71, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(253, 224, 71, 0);
  }
}

.shadow-yellow {
  box-shadow: 0 0 10px rgba(253, 224, 71, 0.8);
}

.animate-pulse {
  animation: pulse 1.5s infinite;
}





